@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

body { background-color: white; font-family: 'Tenor Sans', sans-serif; font-size: 15px; line-height: 1.5em; color: #555; }

h1, h2, h3, h4, h5, h6 { color: #888; line-height: 1.75em; border-bottom: 1px solid #ccc; }
a { color: #007AFF; }


#game { height: 460px; margin-top: 30px; position:relative;}

iframe, canvas { position:absolute; top: 0; right: 50%; }
iframe { margin-right:-292.5px; z-index: -999;}
canvas { margin-right: -255px; margin-top: 14px; z-index: 999; border:3px dotted #ccc;}

#instructions-wrap { text-align: left; width: 55em; margin: 0 auto; overflow:hidden;}
#high-scores-list { width: 20em; float:left;}
#instructions { text-align: left; width: 35em; float:left; }

#high-scores-list-table { width: 100%: }
#high-scores-list-table thead th { font-size: 14px; }
#high-scores-list-table tbody td { text-align:right; }

#highscore-name-entry { background: white; text-align:center; margin-left:-150px; left: 50%; z-index: 999; border: 5px solid #eee; position:absolute; top: 140px; width: 300px; box-shadow: 15px 15px 25px rgba(0,0,0,0.2); }
#highscore-name-entry h2,
#highscore-name-entry h3 { border:none; }

#highscore-name-entry input { font-size: 17px; margin:5px; padding: 5px 15px;}
