@import url(http://fonts.googleapis.com/css?family=Tenor+Sans);

body { background-color: white; font-family: 'Tenor Sans', sans-serif; font-size: 15px; line-height: 1.5em; color: #555; }

h1, h2, h3, h4, h5, h6 { color: #888; line-height: 1.75em; border-bottom: 1px solid #ccc; }
a { color: #007AFF; }


#game { height: 460px; margin-top: 30px; position:relative;}

iframe, canvas { position:absolute; top: 0; right: 50%; }
iframe { margin-right:-292.5px; z-index: -999;}
canvas { margin-right: -255px; margin-top: 14px; z-index: 999; border:3px dotted #ccc;}

#instructions { text-align: left; width: 35em; margin: 0 auto; }